# Byte-compiled / optimized / DLL files

**pycache**/
*.py[cod]
*$py.class

# Virtual environments

venv/
env/
ENV/

# Distribution / packaging

build/
dist/
*.egg-info/
.eggs/

# Installer logs

pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage

htmlcov/
.coverage
.coverage.*
.pytest_cache/

# IDEs

.vscode/
.idea/

# Environment variables

.env
.env.*

# Logs

*.log

# OS files

.DS_Store
Thumbs.db


# Uvicorn / runtime

*.pid
*.sock
